<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my web site</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="home-page">
    <nav claa="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="/about/">About</a>
        <a href="/contact/">Contact</a>
        <a href="/login/">Login</a> 
    </nav>
    <div class="hero">
    <h1>Welcome to Beauty Parlour 💄</h1>
    <p>Glow like never before ✨</p>
    <button class="btn">Book appoinment</button>

    </div>
    <div class="services">
        <h2>Our Services</h2>

<div class="card">
    <h3>hair Styling</h3>
    <p>professional hair styling services</p>
</div>
<div class="card">
    <h3>Makeup</h3>
    <p>professional makeup services</p>
</div>
<div class="card">
    <h3>Nail Art</h3>
    <p>professional nail art services</p>
</div>
</body>
</html>