{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        </head>
    <body class="login-page">
        <nav class="navbar">
            <a href="/Home/">Home</a>
            <a href="/about/">About</a>
            <a href="/contact/">Contact</a>
            <a href="/login/">Login</a> 
        </nav>
        <h1>Login Page</h1>
        <from method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </from>
        </body>
        </html>


    
    